NEXT_PUBLIC_APP_URL=http://your-app-url

NEXTAUTH_URL=http://your-auth-url

NEXTAUTH_SECRET=YOUR_NEXTAUTH_SECRET

DATABASE_URL=postgresql://your-db-username:your-db-password@your-db-host:5432/your-db-name

EDGE_STORE_ACCESS_KEY=YOUR_EDGE_STORE_ACCESS_KEY

EDGE_STORE_SECRET_KEY=YOUR_EDGE_STORE_SECRET_KEY

NEXT_PUBLIC_EDGE_STORE_URL=http://your-edge-store-url

GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID

GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
